<section class="background"></section>

<section class="icon-slider">
	<div class="icon centered">
		<i class='fa fa-users' style="font-size:9em; margin-top: 30px;"></i>
	</div>
</section>

<section class="text-slider">
	<div class="text centered font">
		<p>We are <span>SamePage</span></p>
	</div>

	<div class="down-arrow centered">
		<i class="fa fa-arrow-down"></i>
	</div>
</section>

<section class="section-2">
	<div class="section-2-content centered">
		<div class="image">
			<i class="fa fa-plus-square"></i>
		</div>
		<div class="title font">
			<h1 id="section-2-header">Clinically Proven</h1>
			<p class="section-2-caption">Science-backed methods developed by behavioral scientists and chronic care providers.</p>
		</div>
	</div>
</section>

<section class="section-3">
	<div class="section-3-content centered">
		<div class="title-3 font">
			<h1 id="section-3-header">Cost Effective</h1>
			<p>Reimbursable services under new CPT billing codes being released in 2015.</p>
		</div>
		<div class="image-3">
			<i class="fa fa-usd"></i>
		</div>
	</div>
</section>

<section class="section-4">
	<div class="section-4-content centered">
		<div class="image-4">
			<i class="fa fa-line-chart"></i>
		</div>
		<div class="title-4 font">
			<h1 id="section-4-header">Scalable</h1>
			<p class="section-4-caption">User-friendly online tools that make behavior change approaches more widely available.</p>
		</div>
	</div>
</section>

<section class="section-5">
	<div class="section-5-content centered">
		<div class="title-5 font">
			<h1 id="section-5-header">System-Ready</h1>
			<p>HIPAA-compliant SaaS-based tools designed to also integrate with EMR systems and patient portals.</p>
		</div>
		<div class="image-5">
			<i class="fa fa-globe"></i>
		</div>
	</div>
</section>

<section class="section-6">
	<div class="section-6-content centered font">
		<h1>Samepage Professional Services</h1>
		<p class="one"> -- Dr. Ciechanowski and his team also offer professional services that complement the tools.</p>
		<p class="two"> -- Improving patient-provider communication</p>
		<p class="three"> -- Behavior change methodologies</p>
		<p class="four"> -- Implementation of team-based care systems such as Accountable Care Organization (ACO) Collaborative Care Models</p>
	</div>
</section>

<section class="section-7">
	<div class="section-7-content centered font">
		<h1 class="wow flipInX">Meet Us</h1>
		<div class="row centered">
			<div class="ih-item circle effect3 left_to_right wow flipInY"><a href="#">
        		<div class="img"><img src="assets/paul.png" alt="img"></div>
	        <div class="info">
	          <h3>Paul Ciechanowski</h3>
	          <p>CEO, Board of Directors</p>
	        </div></a></div>

			<div class="ih-item circle effect3 left_to_right wow flipInY"><a href="#">
        		<div class="img"><img src="assets/jane.png" alt="img"></div>
	        <div class="info">
	          <h3>Jane Conner</h3>
	          <p>CFO, Board of Directors</p>
	        </div></a></div>
		</div>
		<div class="row centered">
			<div class="ih-item circle effect3 left_to_right wow flipInY"><a href="#">
        		<div class="img"><img src="assets/joy.png" alt="img"></div>
	        <div class="info">
	          <h3>Joy Cruz</h3>
	          <p>Product Marketing</p>
	        </div></a></div>

			<div class="ih-item circle effect3 left_to_right wow flipInY"><a href="#">
        		<div class="img"><img src="assets/jane_c.png" alt="img"></div>
	        <div class="info">
	          <h3>Jane Culliton</h3>
	          <p>Creative Director</p>
	        </div></a></div>
		</div>
		<div class="row centered">
			<div class="ih-item circle effect3 left_to_right wow flipInY"><a href="#">
        		<div class="img"><img src="assets/brian.png" alt="img"></div>
	        <div class="info">
	          <h3>Brian Hilst</h3>
	          <p>Lead Software Dev</p>
	        </div></a></div>

			<div class="ih-item circle effect3 left_to_right wow flipInY"><a href="#">
        		<div class="img"><img src="assets/jay.png" alt="img"></div>
	        <div class="info">
	          <h3>Jay Bartot</h3>
	          <p>Technology Advisor</p>
	        </div></a></div>
		</div>
		<div class="row centered">
			<div class="ih-item circle effect3 left_to_right wow flipInY"><a href="#">
        		<div class="img"><img src="assets/edward.png" alt="img"></div>
	        <div class="info">
	          <h3>Edward Wagner</h3>
	          <p>Advisor</p>
	        </div></a></div>

			<div class="ih-item circle effect3 left_to_right wow flipInY"><a href="#">
        		<div class="img"><img src="assets/hugh.png" alt="img"></div>
	        <div class="info">
	          <h3>Hugh Straley</h3>
	          <p>Advisor</p>
	        </div></a></div>
		</div>
		<div class="row centered">
			<div class="ih-item circle effect3 left_to_right wow flipInY"><a href="#">
        		<div class="img"><img src="assets/felicia.png" alt="img"></div>
	        <div class="info">
	          <h3 style="font-size: 1em;">Felicia Hill-Briggs</h3>
	          <p>Advisor</p>
	        </div></a></div>

			<div class="ih-item circle effect3 left_to_right wow flipInY"><a href="#">
        		<div class="img"><img src="assets/brock.png" alt="img"></div>
	        <div class="info">
	          <h3>Brock Mansfield</h3>
	          <p>Advisor</p>
	        </div></a></div>
		</div>
	</div>
</section>

<section class="section-8">
	<div class="section-8-content centered font">
		<p class="wow fadeInDown">Contact Us</p>
		<div class="contact-icon wow zoomIn centered">
			<i class="fa fa-inbox"></i>
		</div>
	</div>
	<div class="moving-envelope">
		<i class="fa fa-inbox"></i>
	</div>
</section>

<section class="navbar">
	<div class="navbar-content font">
		<div class="title">
			<h2>SAMEPAGE</h2>
		</div>
		<div class="menu">
			<div class="home menu-item">
				<i class="fa fa-home"></i>
				<h1>Home</h1>
			</div>
			<div class="services menu-item">
				<i class="fa fa-cog"></i>
				<h1>Services</h1>
			</div>
			<div class="contact menu-item">
				<i class="fa fa-envelope"></i>
				<h1>Contact</h1>
			</div>
			<i class="fa fa-bars bar"></i>
		</div>
	</div>
</section>

<section class="dropdown">
	<div class="dropdown-content font">
			<div class="drop-home drop-item">
				<i class="fa fa-home"></i>
				<h1>Home</h1>
			</div>
			<div class="drop-services drop-item">
				<i class="fa fa-cog"></i>
				<h1>Services</h1>
			</div>
			<div class="drop-contact drop-item">
				<i class="fa fa-envelope"></i>
				<h1>Contact</h1>
			</div>
	</div>
</section>


